﻿@model ownerbilling2018.Models.spOwnerBilling_Result

<style>
    div.masterDivDetail div, div.masterDivDetail {
        float: left;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $("#togglejtdcurrent").click(function () {
            if ($("#togglejtdcurrent").text() == "Show JTD") {
                $(".current").css("display", "none");
                $(".jtd").css("display", "inline-block");
                $("#togglejtdcurrent").text("Show Current");
            } else {
                $(".current").css("display", "inline-block");
                $(".jtd").css("display", "none");
                $("#togglejtdcurrent").text("Show JTD");
            }
        });


        $('#goback').click(function () {

            $("#gobackform").submit();

        });


        // Optimalisation: Store the references outside the event handler:
        var $window = $(window);
       

        function checkWidth() {
            var windowsize = $window.width();
            if (windowsize > 760) {
                //if the window is greater than 440px wide then turn on jScrollPane..
                $(".current").css("display", "inline-block");
                $(".jtd").css("display", "inline-block");
            }
        }
        // Execute on load
        checkWidth();
        // Bind event listener
        $(window).resize(checkWidth);





    });

</script>

<div class="masterDivDetail" style="">
    @Html.Partial("ReqDetail", new ViewDataDictionary { { "JobNo", @Model.MMMCU }, { "pagelevel", "Detail" }, { "JobDescription", @Model.jobdescription } })

    @{

        MvcForm form;
        if (Request.QueryString["AppID"] != null)
        {
            form = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }
        else
        {
            form = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }

        using (form)
        {
            @Html.AntiForgeryToken()
            <a class="headersubmit backlink" id="goback">Back</a>
            <input type="hidden" name="MMMCU" value="@Model.MMMCU" class="btn btn-default" />
            <input type="hidden" id="myaction" name="myaction" value="Index2" />
        }
    }
    <div style="width:100%;" id="FV20Block000">
        <div style="width:100%;">
            <div style="width:36%;display:block;float:left;border:0px solid blue;">
                <div class="Category250" style="float:none;">Requisition Date:</div>
                <div class="Category251" style="float:none;padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.OBRequisitionDate)</div>
            </div>
            <div style="width:29%;display:block;float:left;border:0px solid blue;">
                <div class="Category250" style="float:none;">Application No:</div>
                <div class="Category251" style="float:none;padding-left:5px;"> @Html.DisplayFor(modelItem => Model.OBApplicationNo) </div>
            </div>
            <div style="width:35%;display:block;float:left;border:0px solid blue;">
                <div class="Category250" style="float:none;">Status:</div>
                <div id="reqstatus" class="Category251" style="float:none;padding-left:5px;"> @Html.DisplayFor(modelItem => Model.OBStatusDescription) </div>
            </div>
        </div>
    </div>

    <div id="FV20Block001" runat="server" class="block" visible="false" style="border:0px solid blue;margin-top:5px;width:100%;">

        <div id="togglediv" style="width:100%;">


            <div class="detailcolumnwide" style="width:100%;border-bottom:1px solid lightgray;text-align:center;padding-bottom:4px;">
                <a id="togglejtdcurrent">Show JTD</a>

            </div>

        </div>

        <div class="kpiline kpilinelarge kpilineheader" style="font-weight:bold;">
            <div class="OBcol1">&nbsp;</div>
            <div class="detailcolumn detailprevmonth" style="border-bottom:1px solid lightgray;text-align:center;">Prev. Month</div>
            <div class="detailcolumnwide" style="border-bottom:1px solid lightgray;text-align:center;">Estimate / Draft</div>
            <div class="detailcolumnwide" style="border-bottom:1px solid lightgray;text-align:center;">Final</div>
        </div>
        <div class="kpiline kpilineheader kpilinelarge2" style="font-weight:bold;">
            <div class="OBcol1">&nbsp;</div>
            <div class="detailcolumn detailprevmonth" style="border-bottom:1px solid lightgray;text-align:center;">Final JTD</div>
            <div class="detailcolumn jtd" style="border-bottom:1px solid lightgray;text-align:center;">Job To Date</div>
            <div class="detailcolumn current" style="border-bottom:1px solid lightgray;text-align:center;">Current</div>
            <div class="detailcolumn jtd" style="border-bottom:1px solid lightgray;text-align:center;">Job To Date</div>
            <div class="detailcolumn current" style="border-bottom:1px solid lightgray;text-align:center;">Current</div>
        </div>
        <div class="kpiline" style="" title="Subcontractor Work (total for all subcontractor line items minus retention this period)">
            <div class="OBcol1">Subcontractor Work (All Subs):</div>
            <div class="detailcolumn detailprevmonth" style="text-align:right;">@string.Format("{0:C}", Model.OPSubWorkEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBSubWorkEstimate)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubWorkEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBSubWorkFinal)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubWorkFinal)</div>
        </div>
        <div class="kpiline" style="" title="Clark Work (all other line items minus retention this period)">
            <div class="OBcol1">Clark Work (Not Subcontracted):</div>
            <div class="detailcolumn detailprevmonth" style="text-align:right;">@string.Format("{0:C}", Model.OPClarkWorkEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBClarkWorkEstimate)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXClarkWorkEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBClarkWorkFinal)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXClarkWorkFinal)</div>
        </div>
        <div class="kpiline" style="">
            <div class="OBcol1">Total Billings:</div>
            <div class="detailcolumn detailprevmonth" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OPBillingEstimate)</div>
            <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBBillingEstimate)</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXBillingEstimate)</div>
            <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBBillingFinal)</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXBillingFinal)</div>
        </div>
        <div class="kpiline" style="">
            <div class="OBcol1">Less: Clark Work Retention:</div>
            <div class="detailcolumn detailprevmonth" style="text-align:right;">@string.Format("{0:C}", Model.OPOwnerRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBOwnerRetentionEstimate)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXOwnerRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBOwnerRetentionFinal)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXOwnerRetentionFinal)</div>
        </div>
        <div class="kpiline" style="">
            <div class="OBcol1">Less: Sub Work Retention:</div>
            <div class="detailcolumn detailprevmonth" style="text-align:right;">@string.Format("{0:C}", Model.OPSubRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBSubRetentionEstimate)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">@string.Format("{0:C}", Model.OBSubRetentionFinal)</div>
            <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubRetentionFinal)</div>
        </div>
        <div class="kpiline" style="">
            <div class="OBcol1">Total Retention:</div>
            <div class="detailcolumn detailprevmonth" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OPRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBRetentionEstimate)</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXRetentionEstimate)</div>
            <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBRetentionFinal)</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXRetentionFinal)</div>
        </div>
        <div class="kpiline" style="">
            <div class="OBcol1">Current Payment Due:</div>
            <div class="detailcolumn detailprevmonth" style="text-align:right;">&nbsp;</div>
            <div class="detailcolumn jtd" style="text-align:right;">&nbsp;</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXTotalEstimate)</div>
            <div class="detailcolumn jtd" style="text-align:right;">&nbsp;</div>
            <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXTotalFinal)</div>
        </div>


        <div id="FV20Block002" style="">
            <div class="FV20Block002left">
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Proj Plan Monthly Gross Billing Projection:</div>
                    <div class="FV20Block002leftB">@string.Format("{0:C}", Model.QG_A02)</div>
                </div>
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Date Estimate / Draft Requisition to Owner:</div>
                    <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.OBSubmitDate)</div>
                </div>
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Date Requisition Approved by Owner:</div>
                    <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.OBApproveDate)</div>
                </div>
            </div>
            <div class="FV20Block002right">
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Payment Term:</div>
                    <div class="FV20Block002leftB">@Html.DisplayFor(modelItem => Model.G4PTC)</div>
                </div>
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Payment Due Date:</div>
                    <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.G4DueDate)</div>
                </div>
                <div class="kpiline kpilinelarge">
                    <div class="FV20Block002leftA">Date Paid:</div>
                    <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.KDOwnerPaymentReceivedDate)</div>
                </div>
            </div>
        </div>

        <div class="block" style="display:block;text-align:center;width:100%;border:0px solid red;margin-top:10px;">

            @{

                MvcForm form2;
                if (Request.QueryString["AppID"] != null)
                {
                    form2 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
                }
                else
                {
                    form2 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "oldform", name = "oldform" });
                }
                using (form2)

                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.MMMCU" class="btn btn-default" />
                    <input type="hidden" name="myaction" value="Details" />
                    <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" class="btn btn-default" />
                }
            }

            @{
                MvcForm form3;
                if (Request.QueryString["AppID"] != null)
                {
                    form3 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform2", name = "oldform2" });
                }
                else
                {
                    form3 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "oldform2", name = "oldform2" });
                }
                using (form3)

                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="MMMCU" value="@Model.MMMCU" class="btn btn-default" />
                    <input type="hidden" name="myaction" value="Details" />
                    <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" class="btn btn-default" />
                }
            }


            <div style="float:none;clear:both;display:inline-block;border:0px solid blue;margin-left:auto;margin-right:auto;">
                @{
                    MvcForm form4;
                    if (Request.QueryString["AppID"] != null)
                    {
                        form4 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "deleteform", name = "deleteform" });
                    }
                    else
                    {
                        form4 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { @class = "inlineform", id = "deleteform", name = "deleteform" });
                    }

                    using (form4)
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="MMMCU" value="@Model.MMMCU" />
                        <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" />
                        <input type="hidden" name="myaction" value="Edit" />
                        <input type="hidden" name="referrer" value="Details" />
                        if (Model.OBStatus < 20 && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                        {
                            <input type="submit" name="edit" value="Edit" class="btn btn-default" />
                        }
                    }
                }
                <!-- visible false -->
                @{
                    if ((Model.OBStatus == 10 || Model.OBStatus == 30) && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                    {

                        MvcForm form5;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form5 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "pendingform", name = "pendingform" });
                        }
                        else
                        {
                            form5 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { @class = "inlineform", id = "pendingform", name = "pendingform" });
                        }
                        using (form5)
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@Model.MMMCU" />
                            <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" />
                            <input type="hidden" name="myaction" value="ReopenPending" />
                            <input type="submit" name="reopenpending" value="Reopen to Pending" class="btn btn-default" onclick="javascript:return checkFormView('O00');" />

                        }

                    }
                }

                @{
                    if (Model.OBStatus == 20 && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                    {
                        MvcForm form6;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form6 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "pencilform", name = "pencilform" });
                        }
                        else
                        {
                            form6 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { @class = "inlineform", id = "pencilform", name = "pencilform" });
                        }
                        using (form6)
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@Model.MMMCU" />
                            <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" />
                            <input type="hidden" name="myaction" value="PencilMonth" />
                            <input type="submit" name="reopenpencil" value="Reopen to Pencil" class="btn btn-default" onclick="javascript:return checkFormView('O10');" />
                        }
                    }
                }

                @{

                    MvcForm form7;
                    if (Request.QueryString["AppID"] != null)
                    {
                        form7 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "oldform", name = "oldform" });
                    }
                    else
                    {
                        form7 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { @class = "inlineform", id = "oldform", name = "oldform" });
                    }

                    using (form7)

                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="MMMCU" value="@Model.MMMCU" />
                        <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" />
                        <input type="hidden" name="myaction" value="Delete" />
                        <input type="hidden" name="referrer" value="Details" />
                        <input type="submit" name="delete" value="Delete" class="btn btn-default" onclick="javascript:return checkFormView('D');" />
                    }
                }
            </div>
            <div style="width:100%;">
                <div style="clear:left;float:left;width:100%;">
                    <div class="kplinelarge" style="font-weight:bold;">Remark:</div>
                    <div style="clear:left;border:solid 1px #E3E3E3;height:180px;margin-top:5px;overflow:auto;width:100%;">
                        <asp:TextBox ID="OBRemark" runat="server" CssClass="AlignLeftTextArea" Text='@Html.DisplayFor(modelItem => Model.OBRemark)' TextMode="MultiLine" Height="170" ReadOnly="true" />
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

<script type="text/javascript">
    function OnSuccessDelete(data) {

        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            alert('bla');
            $("#oldform").submit();
        }
    }


    function OnSuccessPending(data) {

        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            $("#oldform2").submit();
        }
    }

    function OnFailure(data) {
        alert(data.param2);
    }

</script>
