﻿@model ownerbilling2018.Models.spOwnerBilling_Result
<style>
    div.masterDivDetail div, div.masterDivDetail {
        float: left;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('#goback').click(function () {
            $("#gobackform").submit();
        });

        $(function () { $("#OBSubmitDate").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });
        $(function () { $("#OBApproveDate").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });

        $("#togglejtdcurrent").click(function () {
            if ($("#togglejtdcurrent").text() == "Show JTD") {
                $(".current").css("display", "none");
                $(".jtd").css("display", "inline-block");
                $("#togglejtdcurrent").text("Show Current");
            } else {
                $(".current").css("display", "inline-block");
                $(".jtd").css("display", "none");
                $("#togglejtdcurrent").text("Show JTD");
            }
        });




        // Optimalisation: Store the references outside the event handler:
        var $window = $(window);


        function checkWidth() {
            var windowsize = $window.width();
            if (windowsize > 760) {
                //if the window is greater than 440px wide then turn on jScrollPane..
                $(".current").css("display", "inline-block");
                $(".jtd").css("display", "inline-block");
            }
        }
        // Execute on load
        checkWidth();
        // Bind event listener
        $(window).resize(checkWidth);


    });

</script>

@{
    MvcForm form;
    if (Request.QueryString["AppID"] != null)
    {
        form = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
    }
    else
    {
        form = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
    }
    using (form)
    {
@Html.AntiForgeryToken()
<input type="hidden" id="myaction" name="myaction" value="Index2" />
<input type="hidden" name="MMMCU" value="@Model.MMMCU" class="btn btn-default" />
    }
}


@using (Ajax.BeginForm("Edit", new { @MMMCU = Model.MMMCU, @OBSeqNoId = Model.OBSeqNoId }, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccessEdit" }, new { id = "deleteform", name = "deleteform" }))
{
    @Html.AntiForgeryToken()

    <div class="masterDivDetail" style="">
        @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Detail" }, { "JobNo", Model.MMMCU }, { "JobDescription", @Model.jobdescription } })
        <a class="headersubmit backlink" id="goback">Back</a>
        <div style="width:100%;" class="details">
            <div style="width:100%;">
                <div style="width:36%;display:block;float:left;border:0px solid blue;">
                    <div class="Category250">Requisition Date:</div>
                    <div class="Category251" style="padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.OBRequisitionDate)</div>
                </div>
                <div style="width:29%;display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="text-align:center;float:none;">Application No:</div>
                    <div class="Category251" style="padding-left:5px;text-align:center;float:none;">
                        @if (Convert.ToInt32(Model.OBStatus) < 10)
                        {
                            @Html.TextBoxFor(model => model.OBApplicationNo, new {@class = "AlignLeft", style = "width:33px;", @tabindex="1" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.OBApplicationNo, new { htmlAttributes = new { @class = "AlignCenter" } })
                            @Html.HiddenFor(model => model.OBApplicationNo)
                        }
                    </div>
                </div>
                <div style="width:35%;display:block;float:left;border:0px solid blue;">
                    <div class="Category250">Status:</div>
                    <div class="Category251" style="padding-left:5px;"> @Html.DisplayFor(modelItem => Model.OBStatusDescription) </div>
                </div>
            </div>
        </div>

        <div id="FV20Block001" runat="server" class="block" visible="false" style="border:0px solid blue;margin-top:5px;width:100%;">
            <div id="togglediv" style="width:100%;border:0px solid blue;text-align:right;padding-right:10px;">


                <div class="detailcolumnwide" style="width:100%;border-bottom:1px solid lightgray;text-align:center;padding-bottom:4px;">
                    <a id="togglejtdcurrent">Show JTD</a>

                </div>

            </div>

            <div class="kpiline kpilinelarge kpilineheader" style="font-weight:bold;">
                <div class="OBcol1">&nbsp;</div>
                <div class="detailcolumn" style="border-bottom:1px solid lightgray;text-align:center;">Prev. Month</div>
                <div class="detailcolumnwide" style="border-bottom:1px solid lightgray;text-align:center;">Estimate / Draft</div>
                <div class="detailcolumnwide" style="border-bottom:1px solid lightgray;text-align:center;">Final</div>
            </div>
            <div class="kpiline kpilineheader kpilinelarge2" style="font-weight:bold;">
                <div class="OBcol1">&nbsp;</div>
                <div class="detailcolumn" style="border-bottom:1px solid lightgray;text-align:center;">Final JTD</div>
                <div class="detailcolumn jtd" style="border-bottom:1px solid lightgray;text-align:center;">Job To Date</div>
                <div class="detailcolumn current" style="border-bottom:1px solid lightgray;text-align:center;">Current</div>
                <div class="detailcolumn jtd" style="border-bottom:1px solid lightgray;text-align:center;">Job To Date</div>
                <div class="detailcolumn current" style="border-bottom:1px solid lightgray;text-align:center;">Current</div>
            </div>
            <div class="kpiline" style="" title="Subcontractor Work (total for all subcontractor line items minus retention this period)">
                <div class="OBcol1">Subcontractor Work (All Subs):</div>
                <div class="detailcolumn" style="text-align:right;">@string.Format("{0:C}", Model.OPSubWorkEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @if (Convert.ToInt32(Model.OBStatus) < 10)
                    {
                        @Html.TextBoxFor(model => model.OBSubWorkEstimate, new { @tabindex = "2", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBSubWorkEstimate) } )

                    }
                    else
                    {
                        @Html.DisplayFor(model => model.OBSubWorkEstimate, new { htmlAttributes = new { @class = "AlignRight", Value = String.Format("{0:C}", Model.OBSubWorkEstimate) } })
                        @Html.HiddenFor(model => model.OBSubWorkEstimate)
                    }
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubWorkEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @Html.TextBoxFor(model => model.OBSubWorkFinal, new { @tabindex = "6", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:c}", Model.OBSubWorkFinal)  })
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubWorkFinal)</div>
            </div>
            <div class="kpiline" style="" title="Clark Work (all other line items minus retention this period)">
                <div class="OBcol1">Clark Work (Not Subcontracted):</div>
                <div class="detailcolumn" style="text-align:right;">@string.Format("{0:C}", Model.OPClarkWorkEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @if (Convert.ToInt32(Model.OBStatus) < 10)
                    {
                        @Html.TextBoxFor(model => model.OBClarkWorkEstimate, new { @tabindex = "3", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBClarkWorkEstimate)  })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.OBClarkWorkEstimate, new { htmlAttributes = new { @class = "AlignRight", Value = String.Format("{0:C}", Model.OBClarkWorkEstimate) } })
                        @Html.HiddenFor(model => model.OBClarkWorkEstimate)
                    }
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXClarkWorkEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @Html.TextBoxFor(model => model.OBClarkWorkFinal, new { @tabindex = "7",  @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBClarkWorkFinal) })
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXClarkWorkFinal)</div>
            </div>
            <div class="kpiline" style="">
                <div class="OBcol1">Total Billings:</div>
                <div class="detailcolumn" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OPBillingEstimate)</div>
                <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBBillingEstimate)</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXBillingEstimate)</div>
                <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBBillingFinal)</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXBillingFinal)</div>
            </div>
            <div class="kpiline" style="">
                <div class="OBcol1">Less: Clark Work Retention:</div>
                <div class="detailcolumn" style="text-align:right;">@string.Format("{0:C}", Model.OPOwnerRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @if (Convert.ToInt32(Model.OBStatus) < 10)
                    {
                        @Html.TextBoxFor(model => model.OBOwnerRetentionEstimate, new { @tabindex = "4",  @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBOwnerRetentionEstimate) })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.OBOwnerRetentionEstimate, new { htmlAttributes = new { @class = "AlignRight", Value = String.Format("{0:C}", Model.OBOwnerRetentionEstimate) } })
                        @Html.HiddenFor(model => model.OBOwnerRetentionEstimate)
                    }
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXOwnerRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @Html.TextBoxFor(model => model.OBOwnerRetentionFinal, new {  @tabindex = "8", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBOwnerRetentionFinal) })
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXOwnerRetentionFinal)</div>
            </div>
            <div class="kpiline" style="">
                <div class="OBcol1">Less: Sub Work Retention:</div>
                <div class="detailcolumn" style="text-align:right;">@string.Format("{0:C}", Model.OPSubRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @if (Convert.ToInt32(Model.OBStatus) < 10)
                    {
                        @Html.TextBoxFor(model => model.OBSubRetentionEstimate, new {  @tabindex = "5", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBSubRetentionEstimate)})
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.OBSubRetentionEstimate, new { htmlAttributes = new { @class = "AlignRight", Value = String.Format("{0:C}", Model.OBSubRetentionEstimate) } })
                        @Html.HiddenFor(model => model.OBSubRetentionEstimate)
                    }
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">
                    @Html.TextBoxFor(model => model.OBSubRetentionFinal, new { @tabindex = "9", @class = "AlignRight", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'));", Value = String.Format("{0:C}", Model.OBSubRetentionFinal) })
                </div>
                <div class="detailcolumn current" style="text-align:right;">@string.Format("{0:C}", Model.OXSubRetentionFinal)</div>
            </div>
            <div class="kpiline" style="">
                <div class="OBcol1">Total Retention:</div>
                <div class="detailcolumn" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OPRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBRetentionEstimate)</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXRetentionEstimate)</div>
                <div class="detailcolumn jtd" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OBRetentionFinal)</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXRetentionFinal)</div>
            </div>
            <div class="kpiline" style="">
                <div class="OBcol1">Current Payment Due:</div>
                <div class="detailcolumn" style="text-align:right;">&nbsp;</div>
                <div class="detailcolumn jtd" style="text-align:right;">&nbsp;</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXTotalEstimate)</div>
                <div class="detailcolumn jtd" style="text-align:right;">&nbsp;</div>
                <div class="detailcolumn current" style="border-top:1px solid darkgray;text-align:right;">@string.Format("{0:C}", Model.OXTotalFinal)</div>
            </div>


            <div id="FV20Block002" style="">

                <div class="FV20Block002left">
                    <div class="kpiline kpilinelarge" style="clear:none;">
                        <div class="FV20Block002leftA">Proj Plan Monthly Gross Billing Projection:</div>
                        <div class="FV20Block002leftB">@string.Format("{0:C}", Model.QG_A02)</div>
                    </div>
                    <div class="kpiline kpilinelarge" style="clear:none;">
                        <div class="FV20Block002leftA">Date Estimate / Draft Requisition to Owner:</div>
                        <div class="FV20Block002leftB">
                            @Html.TextBoxFor(model => model.OBSubmitDate, new { @tabindex = "10", @class = "editdate", Value = String.Format("{0:MM/dd/yyyy}", Model.OBSubmitDate) })
                        </div>
                    </div>
                    <div class="kpiline kpilinelarge" style="clear:none;">
                        <div class="FV20Block002leftA">Date Requisition Approved by Owner:</div>
                        <div class="FV20Block002leftB">
                            @Html.TextBoxFor(model => model.OBApproveDate, new { @tabindex = "11",  @class = "editdate", Value = String.Format("{0:MM/dd/yyyy}", Model.OBApproveDate) })
                        </div>
                    </div>
                </div>
                <div class="FV20Block002right">
                    <div class="kpiline kpilinelarge" style="display:block;float:left;width:100%;">
                        <div class="FV20Block002leftA">Payment Term:</div>
                        <div class="FV20Block002leftB">@Html.DisplayFor(modelItem => Model.G4PTC)</div>
                    </div>
                    <div class="kpiline kpilinelarge" style="display:block;float:left;width:100%;">
                        <div class="FV20Block002leftA">Payment Due Date:</div>
                        <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.G4DueDate)</div>
                    </div>
                    <div class="kpiline kpilinelarge" style="display:block;float:left;width:100%;">
                        <div class="FV20Block002leftA">Date Paid:</div>
                        <div class="FV20Block002leftB">@string.Format("{0:MM/dd/yyyy}", Model.KDOwnerPaymentReceivedDate)</div>
                    </div>
                </div>
            </div>

            <div class="block" style="display:block;text-align:center;width:100%;border:0px solid red;margin-top:10px;">

                <div style="float:none;clear:both;display:inline-block;border:0px solid blue;margin-left:auto;margin-right:auto;">
                    <input type="hidden" name="MMMCU" value="@Model.MMMCU" />
                    <input type="hidden" name="OBSeqNoId" value="@Model.OBSeqNoId" />
                    <input type="hidden" name="myaction" value="Edit" />
                    <input type="hidden" name="lastappno" />
                    <input type="submit" name="buttontype" id="save" value="Save" class="btn btn-default" formaction="Edit" formmethod="post" onclick="javascript:return checkFormView('U');" />

                    <!-- should be hidden initially -->
                    @{if (Model.OBStatus < 10)
                        {
                            <input type="submit" name="buttontype" id="pencil" value="Submit Pencil Draft" class="btn btn-default" onclick="javascript:return checkFormView('U10');"
                                   formaction="Edit" formmethod="post" />
                        }
                    }
                    @{if (Model.OBStatus >= 10)
                        {
                            <input type="submit" name="buttontype" id="final" value="Submit Final" class="btn btn-default" onclick="javascript:return checkFormView('U20');"
                                   formaction="Edit" formmethod="post" />
                        }
                    }
                    @{if (Model.OBStatus < 10)
                        {
                            <input type="submit" name="buttontype" id="skip" value="Skip This Month" class="btn btn-default" onclick="javascript:return checkFormView('U30');"
                                   formaction="Edit" formmethod="post" />
                        }
                    }
                    <!-- !!! end hidden !!! -->

                    <input type="submit" name="buttontype" value="Cancel" id="cancel" class="btn btn-default"
                           formaction="Edit" formmethod="post" />

                </div>

                <div style="width:100%;">
                    <div style="clear:left;float:left;width:100%;">
                        <div class="kplinelarge" style="font-weight:bold;">Remark:</div>
                        <div style="clear:left;border:solid 0px #E3E3E3;height:180px;margin-top:5px;overflow:auto;width:100%;">
                            @Html.TextAreaFor(model => model.OBRemark, 7, 200, new { @tabindex = "12",@class = "AlignLeft"  })
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

}

@{                                    MvcForm form2;
    if (Request.QueryString["AppID"] != null)
    {
        form2 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
    }
    else
    {
        form2 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "oldform", name = "oldform" });
    }

    using (form2)
    {
    @Html.AntiForgeryToken()
    <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.MMMCU" class="btn btn-default" />
    <input type="hidden" id="OBSeqNoId" name="OBSeqNoId" value="@Model.OBSeqNoId" class="btn btn-default" />
    <input type="hidden" id="referrer" name="referrer" value="Edit" />
    <input type="hidden" id="myaction" name="myaction" value="Details" />
        }
    }
<script type="text/javascript">
    function OnSuccessEdit(data) {
        if (data.param1 == "404") {
            alert(data.param2);
        } else {

            $("#oldform").submit();
        }

    }
    function OnFailure(data) {
        alert(data.param2);
    }



</script>

