﻿@model IEnumerable<ownerbilling2018.Models.spOwnerBilling_Result>
@using System.Web.Mvc.Html;

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#OBRequisitionDate").val("");
        $(function () { $("#OBRequisitionDate").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });

        $('.joblink').click(function () {

            $(this).parents('form:first').submit();

        });

        $('#goback').click(function () {

            $("#gobackform").submit();

        });

        $('.deletelink').click(function () {
            if (checkFormView("D") == true) {
                $(this).parents('form:first').submit();
            } else { return false; }
        });

    });

</script>

<div class="masterDivDetail" bla>

    @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Requisition" }, { "JobNo", @Model.First().MMMCU }, { "JobDescription", @Model.First().jobdescription } })
    
    
    @{ 

        MvcForm form;
        if (Request.QueryString["AppID"] != null)
        {
            form = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }
        else
        {
            form = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }



        using (form)
        {
        @Html.AntiForgeryToken()
        <a class="headersubmit backlink" id="goback">Back</a>
        <input type="hidden" id="myaction" name="myaction" value="Default" />
            }
        }
    <table class="table kpipager2">
        <tr id="headerrow">
            <th>
                Requisition Date
            </th>
            <th>
                App No
            </th>
            <th>
                Status
            </th>
            <th>
                Estimate Requisition
            </th>
            <th>
                Submit Date
            </th>
            <th>
                Approve Date
            </th>
            <th>
                Final Requisition
            </th>
            <th>
                Due Date
            </th>
            <th>
                Date Paid
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.Where(x => x.OBRequisitionDate != null))
        {
            <tr id="row-@item.OBSeqNoId">

                <td>

                    @{ 

                        MvcForm form2;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form2 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "detailform" + @item.OBSeqNoId, name = "detailform" + @item.OBSeqNoId });
                        }
                        else
                        {
                            form2 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "detailform" + @item.OBSeqNoId, name = "detailform" + @item.OBSeqNoId });
                        }

                        using (form2)
                        {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="MMMCU" value="@item.MMMCU" />
                        <input type="hidden" name="OBSeqNoId" value="@item.OBSeqNoId" />
                        <input type="hidden" name="myaction" value="Details" />
                        <a class="joblink" id="link-@item.OBSeqNoId"> @string.Format("{0:MM/dd/yyyy}", item.OBRequisitionDate)</a>
                            }
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBApplicationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBStatusDescription)
                </td>
                <td align="right">

                    @string.Format("{0:C0}", item.OBTotalEstimate)
                </td>
                <td>
                    @string.Format("{0:MM/dd/yyyy}", item.OBSubmitDate)
                </td>
                <td>
                    @string.Format("{0:MM/dd/yyyy}", item.OBApproveDate)
                </td>
                <td align="right">
                    @string.Format("{0:C0}", item.OBTotalFinal)
                </td>
                <td>
                    @string.Format("{0:MM/dd/yyyy}", item.G4DueDate)
                </td>
                <td>
                    @string.Format("{0:MM/dd/yyyy}", item.KDOwnerPaymentReceivedDate)
                </td>
                <td>
                    @{
                        if (item.OBStatus < 10 && Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString()))

                        {

                            

                            using (Ajax.BeginForm("Default", new { @MMMCU = item.MMMCU, @OBSeqNoId = item.OBSeqNoId }, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccessDelete" }, new { id = "deleteform" + @item.OBSeqNoId, name = "deleteform" + @item.OBSeqNoId }))
                            {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="MMMCU" value="@item.MMMCU" />
        
                                        <input type="hidden" name="myaction" value="Delete" />
        
                                        <input type="hidden" name="OBSeqNoId" value="@item.OBSeqNoId" />
        
                                        <a class="deletelink">Delete</a>
                        }
                    }
                    }
                </td>

            </tr>
                        }

    </table>

    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-10">

                @{

                    MvcForm form3;
                    if (Request.QueryString["AppID"] != null)
                    {
                        form3 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
                    }
                    else
                    {
                        form3 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { id = "oldform", name = "oldform" });
                    }
                    using (form3)
                    {
                @Html.AntiForgeryToken()
                <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                <input type="hidden" id="oldjobdescription" name="jobdescription" value="@Model.First().jobdescription" class="btn btn-default" />
                <input type="hidden" id="OBSeqNoId" name="OBSeqNoId" class="btn btn-default" />
                <input type="hidden" id="referrer" name="referrer" value="Index2" />
                <input type="hidden" id="myaction" name="myaction" value="Edit" />
                }
                }

                @{

                    if (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString()))
                    {


                        using (Ajax.BeginForm("Default", null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { id = "newform", name = "newform" }))
                        {

                @Html.AntiForgeryToken()
                <div id="reqdate">Requisition Date:</div>
                @Html.TextBoxFor(model => model.First().OBRequisitionDate, new { @value = "", @style = "width:80px;", data_val_date = "Not a correct date format." });
                @Html.ValidationMessageFor(model => Model.First().OBRequisitionDate, "", new { @class = "text-danger" })
                <input type="hidden" id="MMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                <input type="hidden" id="myaction" name="myaction" value="CreateNew" class="btn btn-default" />
                <input id="newreq" type="submit" value="Create" class="btn btn-default" onclick="javascript:return verifyFields($('#OBRequisitionDate'),'OBRequisitionDate',true);" />
}
}
                }

                <script type="text/javascript">
                    function OnSuccess(data) {
                        if (data.param1 == "404") {
                            alert(data.param2);
                        } else {

                            $("#OBSeqNoId").val(data.param2);
                            $("#oldform").submit();
                        }

                    }
                    function OnFailure(data) {
                        alert(data.param2);
                    }

                    function OnSuccessDelete(data) {
                        if (data.param1 == "404") {
                            alert("404 error: " + data.param2);
                        } else {

                            document.getElementById(data.param2).style.display = "none";

                        }
                    }

                </script>

            </div>

        </div>

    </div>

</div>

