﻿@model PagedList.IPagedList<ownerbilling2018.Models.spOwnerBilling_Result>
@using PagedList.Mvc;

<style>

    .headersubmit:hover, #headersubmit:hover {
        cursor: pointer;
    }
</style>
@{
    if (ViewBag.Error == null)
    {
        <div class="masterDivDetail">



            @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Project" } })

            @{
                MvcForm form;
                if (Request.QueryString["AppID"] != null)
                {
                    form = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
                }
                else
                {
                    form = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
                }
                using (form)
                {
                    @Html.AntiForgeryToken()
                    <div style="width:100%;text-align:center;margin-bottom:0px;background-color:#f1f1f1;display:block;float:left;clear:both;">
                        <div style="margin:0 auto;margin-left:auto;margin-right:auto;border:0px solid blue;width:auto;padding-bottom:5px;">

                            @{if (Convert.ToInt32(TempData.Peek("KeyType").ToString()) == 9999)
                                {
                                    <div style="margin-left:4px;margin-right:4px;display:inline-block;white-space: nowrap;"><div class="searchdiv" style="">Company:</div><div class="searchdiv"> @Html.DropDownList("Companies", "* ALL")</div></div>
                                }
                            }

                            <div style="margin-left:4px;margin-right:4px;display:inline-block;white-space: nowrap;"><div class="searchdiv" style="">Region: </div><div class="searchdiv">@Html.DropDownList("Regions", "* ALL") </div></div>
                            <div style="margin-left:4px;margin-right:4px;display:inline-block;white-space: nowrap;"><div class="searchdiv" style="">Project No / Name:</div><div class="searchdiv"> @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { style = "text-align:left;width:240px;" })</div></div>
                            <input type="hidden" id="sortOrder" name="sortOrder" value="@ViewBag.CurrentSort" />
                            <input type="hidden" id="whichpagenum" name="whichpagenum" value="" />
                            <input type="hidden" id="whichpage" name="whichpage" value="" />
                            <input type="hidden" name="myaction" value="Default" />



                        </div>
                    </div>
                }
            }
            <script>

        $(document).ready(function () {


            $('.joblink').click(function () {
                var mystring = this.id;
                var mystring2 = $(this).text();
                $('#MMMCU').val(mystring.replace("link-", ""));
                $('#obform').submit();
            });

            $('#sortlink1').click(function () {
                $('#sortOrder').val("@ViewBag.NameSortParm");
                document.forms[0].submit();
            });
             $('#sortlink2').click(function () {
                $('#sortOrder').val("@ViewBag.DateSortParm");
                document.forms[0].submit();
            });
            $('#sortlink3').click(function () {
                $('#sortOrder').val("@ViewBag.AppSortParm");
                document.forms[0].submit();
            });

            $('#pagelinkFirst').click(function () {
                $('#whichpage').val("First");
                document.forms[0].submit();
            });
            $('#pagelinkNext').click(function () {
                $('#whichpage').val("Next");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });
            $('#pagelinkLast').click(function () {
                $('#whichpage').val("Last");
                document.forms[0].submit();
            });
            $('#pagelinkPrevious').click(function () {
                $('#whichpage').val("Previous");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });

            $('#MyPagedList').change(function () {
                var pageName = $('#MyPagedList').find(":selected").text();
                $('#whichpagenum').val(pageName);
                document.forms[0].submit();
            });

       });

        $('#searchString').change(function () { this.form.submit(); });

        $(function () {
            $('#Companies').change(function () {
                $('#obformfilter').submit();

            });
        });

        $(function () {
            $('#Regions').change(function () {
                this.form.submit();
            });
        });

            </script>

            <style type="text/css">

                th {
                    text-align: center;
                }
            </style>

            @{
                MvcForm form2;
                if (Request.QueryString["AppID"] != null)
                {
                    form2 = Html.BeginForm("Default", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { name = "obform", id = "obform" });
                }
                else
                {
                    form2 = Html.BeginForm("Default", "OwnerBilling", FormMethod.Post, new { name = "obform", id = "obform" });
                }
                using (form2)
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="MMMCU" name="MMMCU" value="" />
                    <input type="hidden" id="myaction" name="myaction" value="Index2" />
                    <table class="table kpipager1" cellspacing="3" cellpadding="3">
                        <tr>
                            <th>


                                <a class="headersubmit" id="sortlink1">Project Name</a>

                            </th>
                            <th>
                                <a class="headersubmit" id="sortlink2">Requisition Date</a>

                            </th>
                            <th>
                                <a class="headersubmit" id="sortlink3">App No</a>

                            </th>
                            <th>
                                Estimate Requisition
                            </th>
                            <th>
                                Final Requistion
                            </th>


                        </tr>
                        @{ if (Model.TotalItemCount == 0)
                            {
                                <tr><td colspan="5" style="color:red;" align="center">No Projects Found!</td></tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>

                                            <a class="joblink" id="link-@item.MMMCU.Trim()">@item.jobdescription</a>

                                        </td>
                                        <td align="center">
                                            @string.Format("{0:MM/dd/yyyy}", item.OBRequisitionDate)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.OBApplicationNo)
                                        </td>

                                        <td align="right">

                                            @string.Format("{0:C}", item.OBTotalEstimate)
                                        </td>
                                        <td align="right">
                                            @string.Format("{0:C}", item.OBTotalFinal)
                                        </td>

                                    </tr>
                                }
                            }


                        }

                    </table>
                }
            }
            <br />
            @if (Convert.ToInt32(ViewBag.mypagecount) > 1)
            {

            
            <div class="pagerfooter">

                
                    @if (Convert.ToInt32(ViewBag.pagenum) != 1)
                    {


                        <a class="headersubmit pagerlink" id="pagelinkFirst">&lt;&lt;First</a>

                        <a class="headersubmit pagerlink" id="pagelinkPrevious">&lt;Prev</a>
                    }
                

               @Html.DropDownList("MyPagedList", new SelectList(ViewBag.list, "Text", "Value", ViewBag.pagenum.ToString()), new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilterR = ViewBag.CurrentFilterR, currentFilterC = ViewBag.CurrentFilterC })

                of @Model.PageCount

                
                    @if (Convert.ToInt32(ViewBag.pagenum) < @Model.PageCount)
                    {
                        <a class="headersubmit pagerlink" id="pagelinkNext">Next&gt;</a>

                        <a class="headersubmit pagerlink" id="pagelinkLast">Last&gt;&gt;</a>
                    }
                
            </div>
            }
        </div>
                            }
                            else
                            {
                                Html.Partial("NoAccess");
                            }
}




