﻿

<div class="masterDivDetail" style="">
    <table width="100%" style="height:600px; background-color:White;">
        <tr valign="middle">
            <td align="center">


                ERROR: @ViewBag.Error

            </td>
        </tr>
    </table>
</div>
