﻿
<div style="font-size:20px;width:100%;border:0px solid blue;text-align:center;float: left;display:block;clear:both;">
    @{


        switch ((string)@ViewBag.pagelevel)
        {
            case "Project":
                <span style="font-weight:bold;">Projects</span>
                break;
            case "Requisition":

                <span style="font-weight:bold;">Requisitions:</span><span>@ViewBag.JobDescription</span>
                break;
            case "Detail":
                <span style="font-weight:bold;">Requisition Detail:</span><span>@ViewBag.JobDescription</span>
                break;
        }
    }
</div>