﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    @{ if (@TempData.Peek("ApplicationName") != null)
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: @TempData.Peek("ApplicationName").ToString() :::</title>
        }
        else
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: Owner Billing :::</title>
        }

    }


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="~/Content/KPI2009common.css" />
    <link rel="stylesheet" media="(max-width: 510px)" href="~/Content/KPI2009mobile.css" />
    <link rel="stylesheet" media="(max-width: 768px)" href="~/Content/KPI2009tablet.css" />
    <link rel="stylesheet" media="(min-width: 768px)" href="~/Content/KPI2009regular.css" />
</head>
<body>
    <div id="masterOverlayMask" class="masterOverlayMask" onclick="javascript:hideOverlayMask();">
    </div>


    <div class="container body-content">

        @RenderBody()
        <div style="text-align:center;">2001 - @DateTime.Now.Year Clark Construction Group, LLC</div>
    </div>
    


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
